#search{
    position: relative;
    display: flex;
    align-items: center;
    height: 600px;
    background: url("../img/Searchback.jpg") no-repeat center bottom ;
    background-size: cover;
    .overlay{
        opacity: 0.67;
        background: #000000;
    }
    .title{
            padding: 0 35px;
        h1{
            text-align: left;
            font-weight: 800;
            font-size: 77px;
            line-height: 90px;
            letter-spacing: normal;
            color: $white;
        }
    }

    .search-area{
        
        	
        	border-radius: 7px;
            background-color: rgba(255, 255, 255, 0.66);
            padding: 35px;
            .tab-list{
                margin-bottom: 27px;
            }
            .tab-list a:first-of-type{
                margin-right: 30px;
            }
            .tab-list a.active{
                 color: $blue;
                 text-decoration: none;
                 border-bottom: 1px solid $blue;
            }
          .tab-list a{
              color: #4A4A4A;
               border-bottom: 1px solid transparent;
               padding-bottom: 1px;
              @include transition(all 0.4s ease-in-out);
             &:hover{
                 color: $blue;
                 text-decoration: none;
                 border-bottom: 1px solid $blue;
             }
          }
    }
}