$blue: #1345D5;
$white :#FFFFFF;




@font-face {
    font-family: Visby-medium;
    src: url("../fonts/VisbyCF-Medium.woff");
}
@mixin transition($property) {
   -webkit-transition:$property;
   -moz-transition: $property;
   -o-transition: $property;
   transition: $property;
}

body{
    font-weight: 800 !important;
    font-family: Visby-medium !important;
    width: auto;
}
.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    width: 100% !important;
}
button,a{
                  @include transition(all 0.4s ease-in-out);
}
.overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
}
button:focus,input:focus{
    outline: none;
    border: none;
}
.dropdown-menu-right{
    right: 0 !important;
    left: auto !important;
}
@import 'header';
@import 'responsive';
@import 'searchArea';
@import 'slider-range';
