$blue: #1345D5;
$white :#FFFFFF;




@font-face {
    font-family: Visby-medium;
    src: url("../fonts/VisbyCF-Medium.woff");
}


body{
    font-weight: 800 !important;
    font-family: Visby-medium !important;
    width: auto;
}
.overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
}
button:focus,input:focus{
    outline: none;
}
.dropdown-menu-right{
    right: 0 !important;
    left: auto !important;
}
@import 'header';
@import 'responsive';
@import 'searchArea';