$blue: #1345D5;
$white :#FFFFFF;



@font-face {
    font-family: Visby !important;
    src: url("../fonts/VisbyCF-Heavy.woff");
}
@font-face {
    font-family: Visby-medium;
    src: url("../fonts/VisbyCF-Medium.woff");
}


body{
    font-weight: 800 !important;
    font-family: Visby;
    overflow-x: hidden;
}
.dropdown-menu-right{
    right: 0 !important;
    left: auto !important;
}
@import 'header';
@import 'responsive'